.hero{
    width: 100%;
    padding: 0 1rem 1rem 1rem;
    background-color: var(--background-color);
}

.swiper-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide {
    padding: 2rem;
}

.slide-content {
    height: 27rem;
    background-color: var(--secondary-bg-color);
    border-radius: 1rem;
    border-bottom: #ededed solid 1px;
    border-right: #ededed solid 1px;
}

.slide-content h3 {
    font-size: 3rem;
}

@media (min-width: 768px) {
    .slide-content {
        width: 35rem;
        border-bottom: #ededed solid 0;
        border-right: #ededed solid 0;
    }
}

@media (min-width: 1024px) {
    .hero{
        width: 100%;
    }
    .slide-content {
        width: 40rem;
        height: 30rem;
    }
}

@media (min-width: 1280px) {
    .hero{
        width: 100%;
    }
    .slide-content {
        width: 50rem;
        height: 30rem;
    }
}