.homePage{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: #111827;
    /*overflow: hidden;*/
}

.chart__container{
    width: 95%;
    height: 45rem;
}
