.button {
    width: 80px;
    background-color: var(--button-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--button-gap);
    padding: var(--button-padding-y) var(--button-padding-x);
    border-radius: var(--button-radius);
    cursor: pointer;
}

.button-text {
    font-size: var(--button-text-size);
    font-weight: var(--button-text-weight);
}

.button-icon {
    transition: 0.5s ease-in-out;
}

.button:hover .button-icon {
    transform: translateX(var(--button-hover-icon-move));
}
