/* Base (mobile first) styles apply to phones */

.navbar {
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: var(--background);
}

.navbar-logo {
    cursor: pointer;
    font-size: 2rem;
}

.navbar-center{
    display: none;
}

.navbar-button{
    display: none;
}

.navbar-hamburger-menu{
    cursor: pointer;
}

.navbar-hamburger-menu svg {
    width: 2rem;
    height: 2rem;
}

.navbar-toggle {
    background-color: var(--background);
    width: 50%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    border-radius: 0 0 0 7rem;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none; /* prevent clicking when hidden */
}

.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto; /* allow clicking when active */
}

.navbar-close{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 .8rem;
}

.navbar-close svg {
    width: 2.5rem;
    height: 2.5rem;
}

.navbar-toggle-links {
    height: 50%;
    margin: 0 0 1rem 0;
}

.navbar-toggle-links ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.navbar-toggle-links ul li{
    font-size: 1.5rem;
}

.navbar-toggle-links ul li a {
    color: var(--navbar-text-color);
    transition: 0.3s ease-in-out;
}

.navbar-toggle-links ul li {
    position: relative;
}

.navbar-toggle-links ul li a::before{
    content: "";
    width: 0;
    height: var(--navbar-underline-height);
    position: absolute;
    bottom: -.1rem;
    left: 0;
    background-color: var(--primary-color);
    transition: 0.3s ease-in-out;
}

.navbar-toggle-links ul li a:hover{
    color: var(--primary-color);
}

.navbar-toggle-links ul a:hover::before{
    width: 100%;
}

.navbar-toggle-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RESPONSIVE */

/* Tablet */
@media (min-width: 768px) {
    /* tablet */
    .navbar {
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-toggle{
        display: none;
    }

    .navbar-hamburger-menu{
        display: none;
    }

    .navbar-center{
        display: flex;
        flex: 1;
        justify-content: center;
    }

    .navbar-center ul{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .navbar-center ul li{
        font-size: 1.3rem;
    }

    .navbar-center ul li a {
        color: var(--navbar-text-color);
        transition: 0.3s ease-in-out;
    }

    .navbar-center ul li {
        position: relative;
    }

    .navbar-center ul li a::before{
        content: "";
        width: 0;
        height: var(--navbar-underline-height);
        position: absolute;
        bottom: -.1rem;
        left: 0;
        background-color: var(--primary-color);
        transition: 0.3s ease-in-out;
    }

    .navbar-center ul li a:hover{
        color: var(--primary-color);
    }

    .navbar-center ul a:hover::before{
        width: 100%;
    }
    .navbar-button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

/* Laptop */
@media (min-width: 1024px) {
    /* laptop+ */
    .navbar{
        /*background-color: darkblue;*/
    }
}

/* Desktop / large monitor */
@media (min-width: 1280px) {
    /* desktop+ */
    .navbar{
        /*background-color: darkblue;*/
    }
}

/* Extra large monitors */
@media (min-width: 1536px) {
    /* 2k+ screens */
    .navbar{
        /*background-color: darkcyan;*/
    }
}
